.navbar{
    font-family:$secondary-font-family;
}
.top-navigation-bar.navbar-default{
		background-color: $secondary-background-color;
		border:none;
	}

.navbar-default .navbar-toggle {
    border:none;
    background-color: $primary-background-color;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $base-font-color;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
{
    background-color: darken($primary-background-color,5%);
}

.navbar-default .navbar-nav>li>a {
    color: $base-font-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 800;
    transition: all 0.3s;
}

.navbar-default .navbar-nav>li.active>a {
    background-color: $secondary-background-color;
    color: $hover-font-color;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li.active>a:hover{
	background-color: transparent;
	color:$hover-font-color;
}

.navbar-default .navbar-collapse{
	background-color: $secondary-background-color;
	border:none;
	padding-right: 40px;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}